body *{
    border: 1px solid red;
    color: white;

}

a{
    text-decoration-line: none;
}
.fondo{
    background: #4D545C;
}

header{
    background: #76A5DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Russo One', sans-serif;
}
header h1{
    font-size: 24px;
    text-align: left;
}

.perfil {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: right;
    text-align: center;
    margin-right: 10px;
    
}

.perfil img{
    width: 100%;
    height: auto;

}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
section{
    overflow: hidden;
}

.colImg{
     float: left;
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.colImg img {
    display: block;
    width: 100%;
  }
  
.colImg h3 {
    margin: 0;
    text-align: center;
  }
