body *{
    border: 1px solid red;
    color: white;

}

a{
    text-decoration-line: none;
}
.fondo{
    background: #4D545C;
    font-family: 'Stick No Bills', sans-serif;
}

header{
    background: #76A5DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
header h1{
    font-size: 24px;
    text-align: left;
    font-family: 'Russo One', sans-serif;
}

.perfil {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: right;
    text-align: center;
    margin-right: 10px;
    
    
}

.perfil img{
    width: 100%;
    height: auto;
    

}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Russo One', sans-serif;
}
section
{
    overflow: hidden;
}

.colImg {
    display: flex;
    flex-wrap: wrap;
}
  
  .colImg article {
    width: 28%;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .colImg article img {
    margin-bottom: 10px;
  }
  
  .colImg article h3 {
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
  
section li
{
    font-family: 'Stick No Bills', sans-serif;

}
